@import './variables.scss';

.err-msg{
	text-align: center;
	color:$error;
}

.pass-msg{
	cursor: pointer;
	text-align: center;
	color: $gray;
	height: 10px;

	&:hover{
		color:$primary-color;
	}
}


#alert-dialog-title{
	color: $black !important;
	font-weight: bold;
	font-size: 1.5rem;

}



// .dialog-inner{
// 	display: block;
// 	margin: auto;
// 	width: 400px;



// 	a{
// 		color:$accent-color;
// 		&:hover{
// 			color: $primary-color;
// 		}
// 	}
// }

.MuiDialog-container{
	width: 100%;
}

.MuiDialog-paper{
	width: 95%;
}

.dialog-content{
	line-height: 1.4;
	margin-top: -20px;
	padding: 0px 25px;
	color: gray;
}

.alert-action-btn{
	button{

		background-color: $accent-color;
		color:$white;
		font-size: 1rem;
		padding: 10px;
		border-radius: 5px;

		&:hover{
			background-color:$primary-color;
		}
	}
	}

.dialog-map-img{
display: block;
margin: auto;
width: 100%;
height: 500px;

	iframe{
		display: block;
		margin: auto;
		border: none;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	}
}

.close-map-btn{

	button{
		font-size: 1.5rem;
		color: grey;
		&:hover{
			color:$error
		}
	}
}


.create-terms{
	line-height: 1.8;
display: block;
margin:auto;
width: 85%;
font-size: 0.8rem;
text-align: center;
color: gray;

a{
	color:$accent-color;

	&:hover{
		color: $primary-color;
	}
}
}
