@import './variables.scss';



.err-msg{

	text-align: center;
	color:$error;
	height: 10px;
}

.pass-msg{
	cursor: pointer;
	text-align: center;
	color:$accent-color;
	height: 10px;

	&:hover{
		color:$primary-color;
	}
}



