@import './variables.scss';



.calendar{

	position: relative;
	display: block;
	margin: auto;
	width: 95%;
	background-color: transparent !important;
	border-radius: 5px;
	padding:5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -12px, rgba(0, 0, 0, 0.3) 0px 8px 16px -12px;

	h3{
		width: 98%;
		text-align: right;
	}

}

.calendarWrapper{
	position: relative;
	display: block;
	margin: auto;
	width: 90%;



}

.modeWrapper{
	color: transparent !important;
	z-index: 5 !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;

	

}

.modeButton{

color: transparent !important;
width: 100%;
height: 100px;
border:solid;
 background-color: transparent;

}

#calendar-b-btn{
	pointer-events: none;
	z-index: 100;
	position: absolute;
	top:35px;
	left:5px;
	width:90%;
	color: grey;
	background-color: transparent;
	&:hover{
		color: $accent-color;
	}
}

.calendarHeader{

	margin-top: -40px;
	position: relative;
	z-index: 1 !important;
	background-color: $white !important;
	color: $accent-color !important;
	padding: 18px 0px;

button{
	color:grey;

	&:hover{
		color:$accent-color;
	}
}
	
}

#dayCell{
	&:hover{
		color: $white;
		background-color: lightgray;
		border-radius: 5px;
	}
}

.calendarDayOfWeek{
	div{
		text-align: center !important;
	}
}

#dayHeader{

	text-align: center !important;

}

.dailyHourWrapper{
	cursor: pointer;

	&:hover{
		color: white;
		background-color: lightgray;
		border-radius: 5px;
	}
}

.dailyEventWrapper{
	cursor: pointer;

	&:hover{
	
		color: whitesmoke;
	}
}

#dailyTimeLine{
	position: relative;
	z-index: 0 !important;
	height: 900px !important;
  margin-top: -280px;
	overflow: hidden;
	background-color: $white !important;
}

.dayText.currentDay{
	color: white;
	background-color: $accent-color;
}

.dayEvent{
	padding: 10px;
	margin-bottom: 10px;
}


.calendar-modal{
	display: block;
	margin: auto;	
}

.calendar-select{
	display: block;
	margin: 5px auto;
	width: 90%;



}

.MuiFormControl-root{
	
	div{
		background-color: white !important;
	}

}



.select-div{
	width: 100%;
	background-color:$error;

}

.calendar-snackbar{

	.MuiSnackbar-root {

		display: block;
		margin: auto;
		width: 300px;
		margin-bottom: 20px;
	
		.MuiPaper-root{
	
			background-color:$success;
			color:white;
		
		}
	
	}
}


.calendar-snackbar-error{

	.MuiSnackbar-root {

		display: block;
		margin: auto;
		width: 300px;
		margin-bottom: 20px;
	
		.MuiPaper-root{
	
			background-color:$error;
			color:$white;
		
		}
	
	}
}


.MuiDialogContent-root{
	display:block;
	margin:auto;
	width: 90%;
	padding: 0px;
	overflow: hidden;
}

#stripe-modal{
	display:block;
	margin:auto;
	width: 90%;
	padding: 0px;
	overflow: hidden;
}

.stripe-card-wrapper{
	display:block;
	margin:auto;
	width: 95%;


}

.stripe-wrapper{
	display: block;
	margin: auto;
	width: 95%;
}

.stripe-total{
	width: 95%;
	text-align: right;
	color:$primary-color
}

.StripeElement {
	margin-top:5px;
  height: 20px;
  padding: 10px 3px;
  width: 98%;
  color: #32325d;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
	border-color:$primary-color;
}

.StripeElement--invalid {
  border-color:$error;
}

.stripe-error-msg{
	p{
	
		text-align: center;
		color: $error;
	}
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-form-wrapper{
	display: block;
	margin: auto;
	width: 100%;
padding: 10px 0px;
	button{
		display: block;
		margin: auto;
		margin-top: 20px;
		width: 100%;
		padding: 12px 0px;
		color: $white;
		background-color: $accent-color;
		font-size: 1.2rem;
		border-radius: 5px;

		&:hover{
			background-color: $primary-color;
		}
	}
}

.secured-by{
	width: 100%;
	text-align: center;
	color:$gray;
}