@import './variables.scss';

.inline-msg{
  display: inline;
  line-height: 1.4;

  a{
    color:rgb(207, 164, 247);

    &:hover{
     color: rgb(179, 103, 250);;
    }
  }
}

.chat-wrapper{
  width: 100%;
}

.chat-card-wrapper{
	width: 90%;
	display: flex;
	margin: auto;
  flex-direction: column;
  justify-content: space-between;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color:black;
  background-color: whitesmoke;
  border-left: solid 7px $black;
  
  
}

.chat-card-wrapper-other{
	width: 90%;
	display: flex;
	margin: auto;
  flex-direction: column;
  justify-content: space-between;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: black;
  background-color: white;
  border-left: solid 7px $accent-color;
  
 
}

.chat-name{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: $accent-color;
  font-weight: bold;
  margin-bottom: 10px;
  

}

.chat-card-inner{
  padding: 10px;
  
}

.chat-stamp{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(121, 121, 121);
  margin-top: 20px;
}


.MuiInputBase-input{
  background-color: $white !important;

}


.chat-input-wrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chat-input-double-wrap{
  display: block;
  margin: auto;
  width: 100%;
  background-color: $white;
  
}

.chat-input-inner{
  z-index: 5;
  width: 93%;
  display: block;
  margin: auto;
  background-color: $white;
  border-top: solid 3px $accent-color;
  padding: 5px 0px 30px 0px;

}

.chat-send-icon{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px 5px 15px 5px;
  color:$accent-color;

  &:hover{
    color: $primary-color;
  }
}

#outlined-multiline-static{
  background-color: white;
 
}


@media only screen and (min-width: $pixel-width) {

  .chat-input-double-wrap{
    display: block;
    margin: auto;
    width: $pixel-width;
  }
}