@import './variables.scss';

.edit-wrapper{
  width: 100%;
}

.edit-header{
	display: flex;
	flex-direction: row;
	margin: 20px 0px;
	margin-left: -20px;

	.edit-profile-pic{

		
		border: none;
		background-color: transparent;
		box-shadow: none;
		border-radius: 10px;

		&:focus{
			border: none;
			background-color: transparent;
			box-shadow: none;
		}

		&:hover{
			border: none;
			background-color: transparent;
			box-shadow: none;
		}
	}

	.radio-title{
		line-height: 0;
		color: $black;
		font-weight: bold;

		&:focus{
			color: $black;
		}
		
	}

	

	.edit-radio{
		margin-left: 30px;
	}


}

.MuiInputBase-root{
	background-color: whitesmoke !important;

}
	


.MuiIconButton-label{
	color:$accent-color;

}

.edit-img{
  position: relative;
  overflow: hidden;
  background-color: $white;
	margin-top: -15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
		

}

.edit-img-loading{
  border: 4px solid transparent; /* Light grey */
  border-top: 4px solid $accent-color; /* Blue */
  border-radius: 50%;
  background-color: $white;
  animation: spin 1s linear infinite;
  margin-top: -30px;
  width: 77px;
  height: 77px;

 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.init-edit-img{
 opacity: 0;
}



.loaded-edit-img{
  opacity: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;
  height: 110px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	
	&:hover{
		background-color: whitesmoke;
	}
}



.edit-date-picker{
	margin-top:10px;
	margin-left: 10px;
}

.edit-bio{

	padding: 100px;
}

.edit-char-count{
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items:flex-start;
	width:100%;
	margin-top: -10px;
	font-size: 0.8rem;

	.char-err-text{
		color:$error;
	}
	
	.char-ok-text{
		color:$primary-color;
	}

}

.edit-host-info{
	margin-bottom: 5px;
color: $primary-color;
text-align: center	;
border: solid;
padding: 5px;
border-radius: 5px;

h3{
	color: $black;
}
}

.edit-calendar-icon{

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 10px 5px;
	color: $gray;

	
}

.edit-calendar-icon-all{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 0px;
	color: $gray;

	
}



.edit-icons{
	cursor: pointer;
	&:hover{
		color:$accent-color
	}
}



.edit-info-blurb{
	line-height: 1.2;
	display: block;
	margin: auto;
	width: 90%;
	color:$gray;
	text-align: center;

}


.edit-logout{

	width: 100%;

button{
	display: block;
	margin: auto;
	margin-top: 25px;
	color: lightgray;

	&:hover{
		color: $error;
	}
}

}



.edit-snackbar{

	.MuiSnackbar-root {

		// width: 95%;
	
		.MuiPaper-root{
	
			background-color:$success;
			color:white;
		
		}
	
	}
}


.edit-snackbar-error{

	.MuiSnackbar-root {

		// width: 500px;
	
		.MuiPaper-root{
	
			// width: 500px;
			background-color:$error;
			color:$white;
		
		}
	
	}
}