@import './variables.scss';


.feed{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // margin: 100px 0px;
 
 
}

.calendar-icon{
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  color:$primary-color
}

.host-card{
  position: relative;
  margin: 30px 0px;
  width: 95%;
  height: 360px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  button{
    position: absolute;
    width: 100%;
    padding:15px;
    bottom:0;
    left: 0;
    font-size: 1.5rem;
    color:$white;
    background-color: $primary-color;
    border:none;
    border-radius: 0px 0px 10px 10px;

    &:hover{
      background-color: $accent-color;
    }
  }
}

.host-wrapper{
  padding:20px;
}

.host-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  

  img{
    width: 110px;
    height: 110px;
  }
  h3{
    margin-left: 25px;
  }
}

.host-body{
  margin-top:-12px;
  padding: 0px 5px;
  height: 80px;
  background-color: whitesmoke;
  
}

.host-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top:10px;

}
.star-lite{
  color: $accent-color
}
.star-dim{
  color: grey;
}

