@import './variables.scss';

.inbox-empty{
margin-top: 30%;
text-align: center;
width: 100%;
}

.inbox-double-wrap{
	width: 100%;
}

.inbox-card-wrapper{
	width: 95%;
	display: flex;
	margin: auto;
	flex-direction: column;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 0px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	background-color: white;
	border: solid 1px lightgray;

	h3{
		text-align: center;
	}



}

.inbox-card-wrapper-host{
	width: 95%;
	display: flex;
	margin: auto;
	flex-direction: column;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 10px 0px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border: solid 1px lightgray;

	h3{
		text-align: center;
	}

}




.inbox-card-inner{
	
	display: block;
	width: 90%;
	margin: auto;
	padding: 10px 0px;

	

	p{
		line-height: 0;
	}

}



.inbox-center{
	margin-top: -40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;


}


.inbox-icons{
z-index: 1;
	display: flex;
	margin: 0px 5px;
	justify-content: flex-end;
	align-items: center;
	
}

.inbox-icon-msg{
	cursor: pointer;
	color: lightgray;
	margin-top: 5px;
	margin-right: 5px;

	&:hover{
		color: $accent-color;
	}
}

.inbox-icon-delete{
	cursor: pointer;
	color: lightgray;

	&:hover{
		color: $error;
	}
}

.inbox-type{
	font-weight: bold;
	font-size: 1.2rem;
	color:$primary-color;
}

.inbox-filter{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
	margin-bottom: 25px;
	border-bottom: solid 2px lightgray;
	padding: 0px 10px 5px 10px;


}

.inbox-status-unfocused{
	cursor: pointer;
	color: $gray;
	font-weight: bold;
	&:hover{
		color:$black;
	}
}

.inbox-status-upcoming{
	label, p{
		color:$accent-color;
		font-weight: bold;
	
	}
	
	
}
.inbox-status-complete{
	label, p{
		color: $success;
		font-weight: bold;
		
}
}

.inbox-status-cancelled{
	
	label, p{
		color: $error;
		font-weight: bold;
	
	}
}

.a-refund{
	margin-bottom: 25px;
width: 100%;
text-align: right;
a{
	color: $accent-color;

	&:hover{
	color:	$primary-color;
	}
}
}