@import './variables.scss';


.incoming-wrapper{
	display:block;
	margin: auto;
	width: 95%;
	padding: 5px 0px 10px 0px;
	// border-radius: 5px;
	// box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.incoming-content{

	display:block;
	margin: auto;
	// margin-top: 50px;
	width: 100%;

	h2{
		color: $black;
		text-align: center;
	}

	p{
		line-height: 1.4;
		text-align: center;
		color: $gray;
		font-size: 1.3rem;
	}
}


.incoming-action{

	width: 100%;

	button{
		display: block;
		margin: auto;	
		margin-top: 0px;
		width: 85%;
		font-size: 1.2rem;
		color: white;
		background-color: $accent-color;
		padding: 12px 0px;
		border-radius:5px;

		&:hover{
			background-color:$primary-color
		}
	}
}
