@import './variables.scss';


.incoming-wrapper{
	display:block;
	margin: auto;
	width: 90%;
	padding: 5px 10px 15px 0px;
	border: solid 1px lightgray;
	border-left: solid 3px $accent-color;
	border-radius: 5px;
}

.incoming-content{

	display:block;
	margin: auto;
	width: 85%;

	h2{
		color: $black;
		text-align: center;
	}

	p{
		line-height: 1.4;
		text-align: center;
		color: $gray;
		font-size: 1.3rem;
	}
}

.incoming-icons{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: $accent-color;
	

	&:hover{
		color: $primary-color;
	}
}


.incoming-action{

	width: 100%;

	button{
		display: block;
		margin: auto;	
		margin-top: 20px;
		width: 200px;
		font-size: 1.2rem;
		color: white;
		background-color: $accent-color;
		padding: 12px 0px;
		border-radius:5px;

		&:hover{
			background-color:$primary-color
		}
	}
}
