

.loading-wrapper{
	z-index: 200;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.7);
}

.loading{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 3rem;

}

.main-loader{
  border: 4px solid transparent; /* Light grey */
  border-top: 4px solid $accent-color; /* Blue */
  border-radius: 50%;
  background-color: transparent;
  animation: spin 1s linear infinite;
  margin-top: -30px;
  width: 80px;
  height: 80px;

 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


