

.loading-wrapper{
	z-index: 200;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: rgba($color: #000000, $alpha: 0.9);
}

.loading-double-wrap{

	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width:$pixel-width;
	height: 100vh;
	background-color: $white;
	background-color: rgba($color: #000000, $alpha: 0.7);
}

.loading{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 3rem;

}

.main-loader{
  border: 3px solid transparent; 
  border-top: 3px solid $accent-color; 
  border-radius: 50%;
  background-color: transparent;
  animation: spin 1s linear infinite;
  margin-top: -30px;
  width: 40px;
  height: 40px;

 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


