@import './variables.scss';



.nav {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	color: $white;


}

.nav-inner{
	width: 100%;
	background-color: $accent-color;
	padding: 10px 0px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.top-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	h3{
		line-height: 0;
		font-family: cursive;
		font-weight: bold;

	}

}

.nav-logo{
	cursor: pointer;
	margin: 5px 20px;
	&:hover{
		color:whitesmoke;
	}
}

.nav-icon{
	cursor: pointer;
	margin: 5px 20px;
	&:hover{
		color:whitesmoke;
	}
}

.nav-title{
	line-height: 0;
}


.menuModal{
	
	background-color: rgba(0,0,0,0.7);

	.MuiMenu-paper{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: black;
		color: white;
		width: 130px;
		border-radius: 5px;
		text-align: center;

		.MuiListItem-root{
			width: 110px;
			p{
				line-height: 0;
				width: 110px;
				text-align: left;
			
			}
			&:hover{
				
				border-radius: 5px;
				background-color: $accent-color;
			}
		}
		
	}

}


.nav-hide{
	opacity: 0;
}



@media only screen and (min-width: $pixel-width) {

	.nav-inner{
		
		width: $pixel-width;
	}
}
