@import './variables.scss';



.nav {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 70px;
	color: $white;


}

.nav-inner{
	width: 100%;
	margin-top:-8px;
	background-color: $primary-color;
	padding: 15px 0px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.top-bar{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	h3{
		font-weight: normal;
	}

}

.nav-logo{
	cursor: pointer;
	margin: 5px 20px;
	&:hover{
		color:whitesmoke;
	}
}

.nav-icon{
	cursor: pointer;
	margin: 5px 20px;
	&:hover{
		color:whitesmoke;
	}
}

.menuModal{
	
	background-color: rgba(0,0,0,0.7);

	.MuiMenu-paper{
		display: flex;
		justify-content: center;
		background-color: black;
		color: white;
		width: 120px;
		border-radius: 5px;

		.MuiListItem-root{
			&:hover{
				
				border-radius: 5px;
				background-color: $accent-color;
			}
		}
		
	}

}


.nav-hide{
	opacity: 0;
}



@media only screen and (min-width: 600px) {

	.nav-inner{
		
		width: 375px;
	}
}
