@import './variables.scss';


.pwa-wrapper{
	display:block;
	margin: auto;
	width: 95%;

}

.pwa-inner{

	display:block;
	margin: auto;
	width: 100%;

	h1{
		color: $black;
		text-align: center;
	}

	h3{
		display: block;
		margin: auto;
		width: 95%;
		color: $gray;
		font-weight: normal;
		text-align: center;
		line-height: 1.5;
	}

	a{
	color:$accent-color;

	&:hover{
		color: $primary-color;
	}
	}

}


.install-box{
display: block;
margin: 30px auto;

	width: 90%;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	padding: 10px;

	h3{
		font-weight: bold;
		text-align: center;
	color: $black;
	font-size: 0.8rem;
	}

	p{
		line-height: 1.8;
		text-align: left;
		color:$gray;
	}
}

.pwa-icon{
	display: block;
	margin: auto;
	text-align: center;
	color: $accent-color;
}