@import './variables.scss';

.terms-wrapper{
	margin: 10px;
	text-align: center;
}

.terms-title{
	text-align: center;
}

.terms-inner{

	line-height: 1.8;

	h1{
		text-align: center;
		color:$black;
}
	h3{
		text-align: center;
			color:$accent-color;
	}

	p{
		color: $gray;
	}

}