// save the day please
@mixin card-layout {
	border-radius: 10px;
}

$primary-color: #00b3ff ;
$accent-color: #4ecaff ;
$white: white;
$black: rgb(40, 40, 40);
$gray: gray;

$success: rgb(0, 171, 0);
$error: rgb(252, 93, 93);
