// save the day please
@mixin card-layout {
	border-radius: 10px;
}

$pixel-width: 375px;
$primary-color: #45bdfe;
$accent-color: #1eabf7;
$white: white;
$black: #282828;
$gray: gray;

$success: rgb(0, 171, 0);
$error: rgb(252, 93, 93);
