@import './variables.scss';
@import './Loading.scss';
@import './NavBar.scss';
@import './Search';
@import './Splash';
@import './Feed';
@import './HostCard';
@import './AlertDialog';
@import './EditProfile';
@import './Calendar';
@import './Inbox';
@import './Chat';
@import './Pwa';
@import './Incoming';
@import './Terms';



body {

	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'sans-serif';
	// font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: whitesmoke;
}


.App {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
}



.divider{
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	
}

.small-divider{
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	
}



.full-length-btn{

	button{
		display: block;
		margin: auto;	
		margin-top: 0px;
		width: 92%;
		font-size: 1.2rem;
		color: white;
		background-color: $accent-color;
		padding: 12px 0px;
		border-radius:5px;

		&:hover{
			background-color:$primary-color
		}
	}

}

.full-length-btn-destroy{

	button{
		display: block;
		margin: auto;	
		margin-top: 0px;
		width: 92%;
		font-size: 1.2rem;
		color: white;
		background-color: $black;
		padding: 12px 0px;
		border-radius:5px;

		&:hover{
			background-color:$error
		}
	}

}

.plain-btn{
	display: block;
	margin: auto;	
	margin-top: 0px;
	width: 92%;
	text-align: center;
	font-size: 1.2rem;
	color: $black;
	background-color: transparent;
	padding: 12px 0px;
	border-radius:5px;

	&:hover{
		color:$gray;
	}
}

@media only screen and (min-width: 600px) {

	body{
		background-color: whitesmoke;
	}

	.App{
	width: $pixel-width;
	display: block;
	margin: auto;
	background-color: white;
	}
}
