.loading-wrapper {
  z-index: 200;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading-double-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 550px;
  height: 100vh;
  background-color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.main-loader {
  border: 3px solid transparent;
  border-top: 3px solid #1eabf7;
  border-radius: 50%;
  background-color: transparent;
  animation: spin 1s linear infinite;
  margin-top: -30px;
  width: 40px;
  height: 40px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: white;
}

.nav-inner {
  width: 100%;
  background-color: #1eabf7;
  padding: 10px 0px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.top-bar h3 {
  line-height: 0;
  font-family: cursive;
  font-weight: bold;
}

.nav-logo {
  cursor: pointer;
  margin: 5px 20px;
}

.nav-logo:hover {
  color: whitesmoke;
}

.nav-icon {
  cursor: pointer;
  margin: 5px 20px;
}

.nav-icon:hover {
  color: whitesmoke;
}

.nav-title {
  line-height: 0;
}

.menuModal {
  background-color: rgba(0, 0, 0, 0.7);
}

.menuModal .MuiMenu-paper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 130px;
  border-radius: 5px;
  text-align: center;
}

.menuModal .MuiMenu-paper .MuiListItem-root {
  width: 110px;
}

.menuModal .MuiMenu-paper .MuiListItem-root p {
  line-height: 0;
  width: 110px;
  text-align: left;
}

.menuModal .MuiMenu-paper .MuiListItem-root:hover {
  border-radius: 5px;
  background-color: #1eabf7;
}

.nav-hide {
  opacity: 0;
}

@media only screen and (min-width: 550px) {
  .nav-inner {
    width: 550px;
  }
}

.search-icon-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}

.search-icon-inner {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  width: 100%;
  background-color: transparent;
}

.search-icon {
  pointer-events: all;
  cursor: pointer;
  margin: 10px 20px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  padding: 5px;
  border-radius: 50%;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.search-icon:hover {
  background-color: #484848;
}

.search-dialog {
  display: block;
  margin: auto;
  width: 95%;
}

.search-dialog h3 {
  color: #282828;
}

.search-dialog h4 {
  color: #282828;
}

.search-dialog-inner {
  width: 100%;
}

.search-radio {
  margin-top: 10px;
}

.MuiIconButton-label {
  color: #45bdfe;
}

@media only screen and (min-width: 550px) {
  .search-dialog {
    display: block;
    margin: auto;
    width: 500px;
  }
  .search-icon-inner {
    display: flex;
    margin: auto;
    justify-content: flex-end;
    width: 550px;
    background-color: transparent;
  }
}

.map-background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-foreground {
  position: relative;
  border: none;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  display: block;
  margin: auto;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 350px;
  text-align: center;
}

.hook {
  z-index: 1;
  margin-top: 40px;
  line-height: 1.6;
  text-align: center;
  width: 75%;
  color: #282828;
  font-size: 1.5rem;
}

.pitch {
  z-index: 1;
  line-height: 1.4;
  text-align: center;
  margin-top: -30px;
  width: 80%;
  color: #282828;
  font-size: 1.3rem;
}

.call-to-action {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.call-to-action button {
  width: 200px;
  font-size: 1.3rem;
  border: none;
  padding: 20px 0px;
  color: white;
  background-color: #45bdfe;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.call-to-action button:hover {
  background-color: #1eabf7;
}

@media only screen and (min-width: 550px) {
  .map-foreground {
    width: 550px;
  }
}

.feed {
  width: 100%;
}

.results-blurb {
  line-height: 1.4;
  width: 98%;
  display: block;
  margin: auto;
  text-align: center;
  color: gray;
  padding: 5px 0px;
}

.host-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.link-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  color: #1eabf7;
}

.link-icon:hover {
  color: gray;
}

.host-card {
  position: relative;
  margin: 10px 0px;
  width: 95%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -12px, rgba(0, 0, 0, 0.3) 0px 8px 16px -12px;
  border: solid 1px lightgray;
}

.host-card button {
  position: absolute;
  width: 100%;
  padding: 15px;
  bottom: -2px;
  left: 0;
  font-size: 1.3rem;
  color: white;
  background-color: #1eabf7;
  border: none;
  border-radius: 0px 0px 5px 5px;
}

.host-card button:hover {
  background-color: #45bdfe;
}

.host-wrapper {
  padding: 20px;
}

.host-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #282828;
}

.host-header img {
  width: 110px;
  height: 110px;
}

.host-header h3 {
  margin-left: 25px;
}

.host-img {
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-top: 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.host-img-loading {
  border: 4px solid transparent;
  /* Light grey */
  border-top: 4px solid #1eabf7;
  /* Blue */
  border-radius: 50%;
  background-color: white;
  animation: spin 1s linear infinite;
  margin-top: -30px;
  width: 77px;
  height: 77px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.init-host-img {
  opacity: 0;
}

.loaded-host-img {
  opacity: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.host-header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.host-header-left h2 {
  overflow: scroll;
  line-height: 1;
  margin-left: 20px;
}

.host-header-left p {
  font-weight: bold;
}

.host-map-icon {
  color: #fc5d5d;
}

.host-city {
  margin: -15px 0px -15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.host-city p:hover {
  cursor: pointer;
  color: gray;
}

.host-hourly-icon {
  color: #08bb08;
}

.host-hourly {
  margin: 0px 0px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.host-body {
  line-height: 1.5;
  text-align: left;
  font-weight: normal;
  height: auto;
  min-height: 100px;
  border: none;
  border: solid 1px lightgray;
  border-top: solid 3px #1eabf7;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.host-body p {
  padding: 0px 10px;
}

.host-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 60px;
}

.star-lite {
  color: #1eabf7;
}

.star-dim {
  color: grey;
}

.err-msg {
  text-align: center;
  color: #fc5d5d;
}

.pass-msg {
  cursor: pointer;
  text-align: center;
  color: gray;
  height: 10px;
}

.pass-msg:hover {
  color: #45bdfe;
}

#alert-dialog-title {
  color: #282828 !important;
  font-weight: bold;
  font-size: 1.5rem;
}

.MuiDialog-container {
  width: 100%;
}

.MuiDialog-paper {
  width: 95%;
}

.dialog-content {
  line-height: 1.4;
  margin-top: -20px;
  padding: 0px 25px;
  color: gray;
}

.alert-action-btn button {
  background-color: #1eabf7;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
}

.alert-action-btn button:hover {
  background-color: #45bdfe;
}

.dialog-map-img {
  display: block;
  margin: auto;
  width: 100%;
  height: 500px;
}

.dialog-map-img iframe {
  display: block;
  margin: auto;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.close-map-btn button {
  font-size: 1.5rem;
  color: grey;
}

.close-map-btn button:hover {
  color: #fc5d5d;
}

.create-terms {
  line-height: 1.8;
  display: block;
  margin: auto;
  width: 85%;
  font-size: 0.8rem;
  text-align: center;
  color: gray;
}

.create-terms a {
  color: #1eabf7;
}

.create-terms a:hover {
  color: #45bdfe;
}

a {
  color: #1eabf7;
}

a:hover {
  color: #45bdfe;
}

.edit-wrapper {
  width: 100%;
}

.edit-header {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  margin-left: -20px;
}

.edit-header .edit-profile-pic {
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
}

.edit-header .edit-profile-pic:focus {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.edit-header .edit-profile-pic:hover {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.edit-header .radio-title {
  line-height: 0;
  color: #282828;
  font-weight: bold;
}

.edit-header .radio-title:focus {
  color: #282828;
}

.edit-header .edit-radio {
  margin-left: 30px;
}

.MuiInputBase-root {
  background-color: whitesmoke !important;
}

.MuiIconButton-label {
  color: #1eabf7;
}

.edit-img {
  position: relative;
  overflow: hidden;
  background-color: white;
  margin-top: -15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.edit-img-loading {
  border: 4px solid transparent;
  /* Light grey */
  border-top: 4px solid #1eabf7;
  /* Blue */
  border-radius: 50%;
  background-color: white;
  animation: spin 1s linear infinite;
  margin-top: -30px;
  width: 77px;
  height: 77px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.init-edit-img {
  opacity: 0;
}

.loaded-edit-img {
  opacity: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;
  height: 110px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.loaded-edit-img:hover {
  background-color: whitesmoke;
}

.edit-date-picker {
  margin-top: 10px;
  margin-left: 10px;
}

.edit-bio {
  padding: 100px;
}

.edit-char-count {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  margin-top: -10px;
  font-size: 0.8rem;
}

.edit-char-count .char-err-text {
  color: #fc5d5d;
}

.edit-char-count .char-ok-text {
  color: #45bdfe;
}

.edit-host-info {
  margin-bottom: 5px;
  color: #45bdfe;
  text-align: center;
  border: solid;
  padding: 5px;
  border-radius: 5px;
}

.edit-host-info h3 {
  color: #282828;
}

.edit-calendar-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 5px;
  color: gray;
}

.edit-calendar-icon-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
  color: gray;
}

.edit-icons {
  cursor: pointer;
}

.edit-icons:hover {
  color: #1eabf7;
}

.edit-info-blurb {
  line-height: 1.2;
  display: block;
  margin: auto;
  width: 90%;
  color: gray;
  text-align: center;
}

.edit-logout {
  width: 100%;
}

.edit-logout button {
  display: block;
  margin: auto;
  margin-top: 25px;
  color: lightgray;
}

.edit-logout button:hover {
  color: #fc5d5d;
}

.edit-snackbar .MuiSnackbar-root {
  display: block;
  margin: auto;
  width: 300px;
  margin-bottom: 20px;
}

.edit-snackbar .MuiSnackbar-root .MuiPaper-root {
  background-color: #08bb08;
  color: white;
}

.edit-snackbar-error .MuiSnackbar-root {
  display: block;
  margin: auto;
  width: 300px;
}

.edit-snackbar-error .MuiSnackbar-root .MuiPaper-root {
  width: 300px;
  background-color: #fc5d5d;
  color: white;
}

.calendar {
  position: relative;
  display: block;
  margin: auto;
  width: 95%;
  background-color: transparent !important;
  border-radius: 5px;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -12px, rgba(0, 0, 0, 0.3) 0px 8px 16px -12px;
}

.calendarWrapper {
  position: relative;
  display: block;
  margin: auto;
  width: 90%;
}

.calendarWrapper h3 {
  width: 95%;
  text-align: right;
}

.modeWrapper {
  color: transparent !important;
  z-index: 5 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
}

.modeButton {
  color: transparent !important;
  width: 100%;
  height: 100px;
  border: solid;
  background-color: transparent;
}

#calendar-b-btn {
  pointer-events: none;
  z-index: 100;
  position: absolute;
  top: 35px;
  left: 5px;
  width: 90%;
  color: grey;
  background-color: transparent;
}

#calendar-b-btn:hover {
  color: #1eabf7;
}

.calendarHeader {
  margin-top: -40px;
  position: relative;
  z-index: 1 !important;
  background-color: white !important;
  color: #1eabf7 !important;
  padding: 18px 0px;
}

.calendarHeader button {
  color: grey;
}

.calendarHeader button:hover {
  color: #1eabf7;
}

#dayCell:hover {
  color: white;
  background-color: lightgray;
  border-radius: 5px;
}

.calendarDayOfWeek div {
  text-align: center !important;
}

#dayHeader {
  text-align: center !important;
}

.dailyHourWrapper {
  cursor: pointer;
}

.dailyHourWrapper:hover {
  color: white;
  background-color: lightgray;
  border-radius: 5px;
}

.dailyEventWrapper {
  cursor: pointer;
}

.dailyEventWrapper:hover {
  color: whitesmoke;
}

#dailyTimeLine {
  position: relative;
  z-index: 0 !important;
  height: 900px !important;
  margin-top: -280px;
  overflow: hidden;
  background-color: white !important;
}

.dayText.currentDay {
  color: white;
  background-color: #1eabf7;
}

.dayEvent {
  padding: 10px;
  margin-bottom: 10px;
}

.calendar-modal {
  display: block;
  margin: auto;
}

.calendar-select {
  display: block;
  margin: 5px auto;
  width: 90%;
}

.MuiFormControl-root div {
  background-color: white !important;
}

.select-div {
  width: 100%;
  background-color: #fc5d5d;
}

.calendar-snackbar .MuiSnackbar-root {
  display: block;
  margin: auto;
  width: 300px;
  margin-bottom: 20px;
}

.calendar-snackbar .MuiSnackbar-root .MuiPaper-root {
  background-color: #08bb08;
  color: white;
}

.calendar-snackbar-error .MuiSnackbar-root {
  display: block;
  margin: auto;
  width: 300px;
  margin-bottom: 20px;
}

.calendar-snackbar-error .MuiSnackbar-root .MuiPaper-root {
  background-color: #fc5d5d;
  color: white;
}

.MuiDialogContent-root {
  display: block;
  margin: auto;
  width: 90%;
  padding: 0px;
  overflow: hidden;
}

#stripe-modal {
  display: block;
  margin: auto;
  width: 90%;
  padding: 0px;
  overflow: hidden;
}

.stripe-card-wrapper {
  display: block;
  margin: auto;
  width: 95%;
}

.stripe-wrapper {
  display: block;
  margin: auto;
  width: 95%;
}

.stripe-total {
  width: 95%;
  text-align: right;
  color: #45bdfe;
}

.StripeElement {
  margin-top: 5px;
  height: 20px;
  padding: 10px 3px;
  width: 98%;
  color: #32325d;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
  border-color: #45bdfe;
}

.StripeElement--invalid {
  border-color: #fc5d5d;
}

.stripe-error-msg p {
  text-align: center;
  color: #fc5d5d;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-form-wrapper {
  display: block;
  margin: auto;
  width: 100%;
  padding: 10px 0px;
}

.stripe-form-wrapper button {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 100%;
  padding: 12px 0px;
  color: white;
  background-color: #1eabf7;
  font-size: 1.2rem;
  border-radius: 5px;
}

.stripe-form-wrapper button:hover {
  background-color: #45bdfe;
}

.secured-by {
  width: 100%;
  text-align: center;
  color: gray;
}

.inbox-empty {
  margin-top: 30%;
  text-align: center;
  width: 100%;
}

.inbox-double-wrap {
  width: 100%;
}

.inbox-card-wrapper {
  width: 95%;
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: white;
  border: solid 1px lightgray;
}

.inbox-card-wrapper h3 {
  text-align: center;
}

.inbox-card-wrapper-host {
  width: 95%;
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: solid 1px lightgray;
}

.inbox-card-wrapper-host h3 {
  text-align: center;
}

.inbox-card-inner {
  display: block;
  width: 90%;
  margin: auto;
  padding: 10px 0px;
}

.inbox-card-inner p {
  line-height: 0;
}

.inbox-center {
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.inbox-icons {
  z-index: 1;
  display: flex;
  margin: 0px 5px;
  justify-content: flex-end;
  align-items: center;
}

.inbox-icon-msg {
  cursor: pointer;
  color: lightgray;
  margin-top: 5px;
  margin-right: 5px;
}

.inbox-icon-msg:hover {
  color: #1eabf7;
}

.inbox-icon-delete {
  cursor: pointer;
  color: lightgray;
}

.inbox-icon-delete:hover {
  color: #fc5d5d;
}

.inbox-type {
  font-weight: bold;
  font-size: 1.2rem;
  color: #45bdfe;
}

.inbox-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  border-bottom: solid 2px lightgray;
  padding: 0px 10px 5px 10px;
}

.inbox-status-unfocused {
  cursor: pointer;
  color: gray;
  font-weight: bold;
}

.inbox-status-unfocused:hover {
  color: #282828;
}

.inbox-status-upcoming label, .inbox-status-upcoming p {
  color: #1eabf7;
  font-weight: bold;
}

.inbox-status-complete label, .inbox-status-complete p {
  color: #08bb08;
  font-weight: bold;
}

.inbox-status-cancelled label, .inbox-status-cancelled p {
  color: #fc5d5d;
  font-weight: bold;
}

.a-refund {
  margin-bottom: 25px;
  width: 100%;
  text-align: right;
}

.a-refund a {
  color: #1eabf7;
}

.a-refund a:hover {
  color: #45bdfe;
}

.inline-msg {
  display: inline;
  line-height: 1.4;
}

.inline-msg a {
  color: #cfa4f7;
}

.inline-msg a:hover {
  color: #b367fa;
}

.chat-wrapper {
  width: 100%;
}

.chat-card-wrapper {
  width: 90%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: black;
  background-color: whitesmoke;
  border-left: solid 7px #282828;
}

.chat-card-wrapper-other {
  width: 90%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: black;
  background-color: white;
  border-left: solid 7px #1eabf7;
}

.chat-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: #1eabf7;
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-card-inner {
  padding: 10px;
}

.chat-stamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: #797979;
  margin-top: 20px;
}

.MuiInputBase-input {
  background-color: white !important;
}

.chat-input-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chat-input-double-wrap {
  display: block;
  margin: auto;
  width: 100%;
  background-color: white;
}

.chat-input-inner {
  z-index: 5;
  width: 93%;
  display: block;
  margin: auto;
  background-color: white;
  border-top: solid 3px #1eabf7;
  padding: 5px 0px 30px 0px;
}

.chat-send-icon {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px 5px 15px 5px;
  color: #1eabf7;
}

.chat-send-icon:hover {
  color: #45bdfe;
}

#outlined-multiline-static {
  background-color: white;
}

@media only screen and (min-width: 550px) {
  .chat-input-double-wrap {
    display: block;
    margin: auto;
    width: 550px;
  }
}

.pwa-wrapper {
  display: block;
  margin: auto;
  width: 95%;
}

.pwa-inner {
  display: block;
  margin: auto;
  width: 100%;
}

.pwa-inner h1 {
  color: #282828;
  text-align: center;
}

.pwa-inner h3 {
  display: block;
  margin: auto;
  width: 95%;
  color: gray;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;
}

.pwa-inner a {
  color: #1eabf7;
}

.pwa-inner a:hover {
  color: #45bdfe;
}

.install-box {
  display: block;
  margin: 30px auto;
  width: 90%;
  border-radius: 5px;
  border: solid 1px lightgray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
}

.install-box h3 {
  font-weight: bold;
  text-align: center;
  color: #282828;
  font-size: 0.8rem;
}

.install-box p {
  line-height: 1.8;
  text-align: left;
  color: gray;
}

.pwa-icon {
  display: block;
  margin: auto;
  text-align: center;
  color: #1eabf7;
}

.incoming-wrapper {
  display: block;
  margin: auto;
  width: 90%;
  padding: 5px 10px 15px 0px;
  border: solid 1px lightgray;
  border-left: solid 3px #1eabf7;
  border-radius: 5px;
}

.incoming-content {
  display: block;
  margin: auto;
  width: 85%;
}

.incoming-content h2 {
  color: #282828;
  text-align: center;
}

.incoming-content p {
  line-height: 1.4;
  text-align: center;
  color: gray;
  font-size: 1.3rem;
}

.incoming-icons {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #1eabf7;
}

.incoming-icons:hover {
  color: #45bdfe;
}

.incoming-action {
  width: 100%;
}

.incoming-action button {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 200px;
  font-size: 1.2rem;
  color: white;
  background-color: #1eabf7;
  padding: 12px 0px;
  border-radius: 5px;
}

.incoming-action button:hover {
  background-color: #45bdfe;
}

.terms-wrapper {
  margin: 10px;
  text-align: center;
}

.terms-title {
  text-align: center;
}

.terms-inner {
  line-height: 1.8;
}

.terms-inner h1 {
  text-align: center;
  color: #282828;
}

.terms-inner h3 {
  text-align: center;
  color: #1eabf7;
}

.terms-inner p {
  color: gray;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: whitesmoke;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  box-shadow: none;
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 0.7rem;
}

.small-divider {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
}

.full-length-btn button {
  display: block;
  margin: auto;
  margin-top: 0px;
  width: 94%;
  font-size: 1.2rem;
  color: white;
  background-color: #1eabf7;
  padding: 12px 0px;
  border-radius: 5px;
}

.full-length-btn button:hover {
  background-color: #45bdfe;
}

.full-length-btn-destroy button {
  display: block;
  margin: auto;
  margin-top: 0px;
  width: 95%;
  font-size: 1.2rem;
  color: white;
  background-color: #282828;
  padding: 12px 0px;
  border-radius: 5px;
}

.full-length-btn-destroy button:hover {
  background-color: #fc5d5d;
}

.plain-btn {
  display: block;
  margin: auto;
  margin-top: 0px;
  width: 92%;
  text-align: center;
  font-size: 1.2rem;
  color: #282828;
  background-color: transparent;
  padding: 12px 0px;
  border-radius: 5px;
}

.plain-btn:hover {
  color: gray;
}

@media only screen and (min-width: 550px) {
  body {
    background-color: #282828;
  }
  .App {
    width: 550px;
    display: block;
    margin: auto;
  }
}
